body {
    padding: 1em;
    margin: 0 auto;
    max-width: 1024px;
    
}

.sect-intro h1 {
    text-align: center;
}

.sect-intro img {
    height: 500px;
    width: 1000px;
    object-fit: contain;
}